* {
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 300px;
  height: auto;
  background-color: white;
  padding: 18px 18px;
  border-radius: 15px;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);

  margin-bottom: 20px;
}

.qrcode-img {
  width: 100%;
  border-radius: 15px;
}

.desc-sec {
  padding: 15px 15px;
}
.title {
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);

  text-align: center;
  line-height: 30px;

  margin-bottom: 15px;
}
.text {
  font-size: 0.95rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);

  text-align: center;
  line-height: 20px;
}

.footer a {
  text-decoration: none;
  color: hsl(218, 44%, 22%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.footer p span {
  font-weight: bold;
  text-decoration: underline;
}

.footer img {
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-left: 8px;
}
